.aboutcontainer {
    width: 70vw;
    margin: auto;
    margin-top: 4%;
}
.picture {
    float: left;
    border-radius: 100%;
    padding-right: 2%;
    -webkit-shape-outside:circle();
    shape-outside:circle();
}
.abouttext{
    padding-top: 1%;
    font-size: 23px;
    word-spacing: 8px;
    line-height: 32px;
}
#about {
    height: 100vh;
    position: relative;
}
.tech {
    font-size: 40px;
}
.programs {
    margin: 4%;
    font-size: 35px;
    text-decoration: underline;
}
.gridcontainer {
    margin-top: 3% !important;
}
.makeStyles-paper-69 {
    background-color: #a3865883 !important;
    color:  #1b1b1b !important;
    
}
.program {
    font-size: 20px
}
#maincontainer {
    margin-bottom: 3% !important;
}
.makeStyles-container-173 {
    display: block !important;
}