.aboutcontainer {
    width: 70vw;
    margin: auto;
    margin-top: 4%;
}
.picture {
    float: left;
    border-radius: 100%;
    padding-right: 2%;
    -webkit-shape-outside:circle();
    shape-outside:circle();
}
.abouttext{
    padding-top: 1%;
    font-size: 23px;
    word-spacing: 8px;
    line-height: 32px;
    text-align: center;
}
#about {
    height: 100vh;
    position: relative;
}
.tech {
    font-size: 40px;
}
.programs {
    margin: 4%;
    font-size: 35px;
    text-decoration: underline;
}
.gridcontainer {
    margin-top: 3% !important;
}
#program1, #program2, #program3 {
    background-color: #a3865883 !important;
    color:  #1b1b1b !important;
}
.program {
    font-size: 20px
}
#maincontainer {
    margin-bottom: 3% !important;
}
.makeStyles-container-173 {
    display: block !important;
}
@media only screen and (max-width: 1472px) {
    .picture {
        width: 25%;
    }
}
@media only screen and (min-height: 1366px) {
    .aboutcontainer {
        width: 88vw;
    }
    .abouttext {
        font-size: 33px;
        line-height: 58px;
    }
    .picture {
        width: 27%;
    }
    .program {
        font-size: 32px;
    }
}
@media only screen and (min-height: 1024px) {
    .aboutcontainer {
        width: 88vw;
    }
    .abouttext {
        font-size: 25px;
        line-height: 40px;
    }
    .picture {
        width: 27%;
    }
    .program {
        font-size: 25px;
    }
    #about {
        height: 160vh !important;
    }
}
@media only screen and (max-width: 480px) {
    #about {
        height: 160vh !important;
    }
    .picture {
        width: 35%;
    }
    .aboutcontainer {
        width: 88vw;
    }
    .abouttext {
        font-size: 20px;
        line-height: 27px;
        padding-top: 3%
    }
    .programs {
        font-size: 28px;
        margin-top: 0;
    }
}
@media only screen and (max-width: 380px) {
    #about {
        height: 180vh !important;
    }
    .abouttext {
        font-size: 19px;
        line-height: 24px;
    }
    .program {
        font-size: 19px;
    }
    .programs {
        font-size: 26px;
    }
}
@media only screen and (max-width: 360px) {
    .abouttext {
        font-size: 17px;
        line-height: 22px;
    }
    .program {
        font-size: 17px;
    }
    .programs {
        font-size: 24px;
    }
}
@media only screen and (max-width: 320px) {
    .abouttext {
        font-size: 15px;
        line-height: 19px;
    }
    .program {
        font-size: 15px;
    }
    .programs {
        font-size: 20px;
    }
}