@font-face {
  font-family: 'Athene';
  src: url('./assets/Athene.otf')
}
* {
  font-family: 'Catamaran', sans-serif !important;
}
.App {
  /* text-align: center; */
}

body {
  padding-top: 100px
}
.subtitle {
  font-family: Athene !important;
  font-size: 55px;
  color: #202020;
  border-bottom: 2px solid #a38658;
  max-width: 25vw;
  padding-bottom: 1%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}
.container, .container1 {
  padding-top: 80px
}
