.MuiButtonBase-root.MuiIconButton-root {
    float: right !important;
    color: #c7bcab !important;
}
.MuiList-root.MuiMenu-list.MuiList-padding{
    background-color: #1b1b1b;
}
a {
    text-decoration: none;
}
.MuiPaper-rounded {
    border-radius: 0 !important;
}
.MuiMenuItem-gutters {
    color: #c7bcab !important;
}
.MuiAppBar-colorPrimary {
    height: 6vh;
    background-color: #1b1b1b !important;
}
.MuiPaper-elevation4 {
    box-shadow: none !important;
}
.navlink:hover {
    text-decoration: underline;
    color: #a38658 !important;
    background: #1b1b1b !important;
}
@media only screen and (max-width: 1472px) {
    .MuiToolbar-regular {
        min-height: 55px !important;
    }
  }
@media only screen and (min-height: 1366px) {
    .navlink{
        font-size: 1.5rem !important
    }
    .MuiButtonBase-root.MuiIconButton-root {
        height: 81px !important;
        width: 81px !important;
    }
    .menuicon {
        font-size: 50px !important;
    }
}
@media only screen and (max-width: 480px) {
    .navbar {
        height: 50px;
    }

}