a {
    color: #1b1b1b;
    font-family: 'Catamaran', sans-serif !important;
    font-size: 30px !important;
}
.link {
    padding: 0 2% !important; 
}
.link:hover {
    color: #a38658;
    cursor: pointer;
}
.links {
    margin-top: 4%;
    margin-bottom: 3%;
    text-align: center;
}
.border {
    border-top: 1px solid #a38658;
    width: 50vw;
    margin: auto;
}
.icon1, .icon2, .icon3 {
    font-size: 45px;
    padding: 3%;
    transition: all 200ms ease-in;
}
.icon1:hover, .icon2:hover, .icon3:hover {
    transform: scale(1.5);
}
.icon2{
    color: #0077b5;
}
.icon3 {
    color: #4267b2;
}
.name {
    position: relative;
    width: 100%;
    height: 60vh;
}
.title1 {
    padding-top: 5%;
}
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/wheel.jpg);
    opacity: .65;
}
.name1 {
    position: relative;
    width: 750px;
    height: 285px;
    margin: auto;
    font-size: 95px;
    border-top: 2px solid #1b1b1b;
    border-left: 2px solid #1b1b1b;
}
.subtitle1 {
    position: relative;
    font-family: 'Catamaran', sans-serif !important;
    width: 750px;
    height: 115px;
    font-size: 75px;
    /* font-weight: bold; */
    margin: auto;
    border-bottom: 2px solid #1b1b1b;
    border-right: 2px solid #1b1b1b;
}
.first {
    position: absolute;
    color: #1b1b1b;
    font-family: Athene !important;
    font-size: 130px !important;
    width: 700px;
    height: 280px;
    top: .1em;
    left: -.2em;
    text-align: center;
    border-top: 2px solid #1b1b1b !important;
    border-left: 2px solid #1b1b1b !important;
}
.subtitle2 {
    color: #1b1b1b;
    font-family: 'Quicksand', sans-serif;
    font-size: 70px;
    width: 703px;
    height: 105px;
    margin: auto;
    text-align: center;
    padding-top: 4% !important;
    border-bottom: 2px solid #1b1b1b !important;
    border-right: 2px solid #1b1b1b !important;
}
#home {
    height: 100vh;
}
.logos {
    text-align: center;
}
@media only screen and (max-width: 1920px) {
    .title1 {
        padding-top: 6% !important;
    }
}
@media only screen and (max-width: 1472px) {
    /* .title1 {
        padding-top: 4% !important;
    } */
    .first {
        font-size: 110px !important;
        width: 660px;
        height: 250px;
    }
    .name1 {
        width: 710px;
        height: 245px;
    }
    .subtitle2 {
        font-size: 55px;
        width: 660px;
    }
    .subtitle1 {
        width: 710px;
    }
  }
  @media only screen and (max-width: 1367px) {
      .title1 {
          padding-top: 4% !important;
      }
  }
  @media only screen and (max-width: 1024px) {
    .name1 {
        margin-top: 1%
    }
    .icon1, .icon2, .icon3 {
        font-size: 42px;
    }
    .links {
        margin-top: 5%;
    }
}
@media only screen and (min-height: 1366px) {
    .title1 {
        padding-top: 24% !important;
    }
    .link {
        font-size: 45px !important;
    }
    .icon1, .icon2, .icon3 {
        font-size: 55px !important;
    }
  }
  @media only screen and (max-width: 800px) {
      .title1 {
          padding-top: 18% !important;
        }
    .link {
        font-size: 35px !important;
    }
}
@media only screen and (max-width: 480px) {
    .title1 {
        padding-top: 25% !important;
    }
    .link {
        font-size: 25px !important;
    }
    .first {
        font-size: 72px !important;
        width: 437px !important;
        height: 167px !important;
    }
    .name1 {
        width: 400px !important;
        height: 156px !important;
    }
    .subtitle1 {
        width: 410px !important;
        height: 73px !important;
    }
    .subtitle2 {
        font-size: 37px !important;
        width: 382px !important;
        height: 70px !important;
    }
    .logos {
        margin-top: 3%
    }
    .icon1, .icon2, .icon3 {
        font-size: 35px !important;
    }
}
@media only screen and (max-width: 415px) {
    .first {
        width: 382px !important;
    }
    .name1 {
        width: 356px !important;
    }
    .subtitle1 {
        width: 382px !important;
    }
    .subtitle2 {
        width: 356px !important;
    }
    .link {
        font-size: 22px !important;
    }
}
@media only screen and (max-width: 380px) {
    .first {
        width: 342px !important;
        font-size: 69px !important;
    }
    .name1 {
        width: 313px !important;
    }
    .subtitle1 {
        width: 342px !important;
    }
    .subtitle2 {
        width: 313px !important;
        font-size: 32px !important;
    }
    .link {
        font-size: 20px !important;
    }
    .title1 {
        padding-top: 23% !important;
    }
}
@media only screen and (max-width: 360px) {
    .link {
        font-size: 19px !important;
    }
}
@media only screen and (max-width: 320px) {
    .first {
        width: 286px !important;
        font-size: 53px !important;
        height: 127px !important;
    }
    .name1 {
        width: 264px !important;
        height: 125px !important;
    }
    .subtitle1 {
        width: 286px !important;
        height: 51px !important;
    }
    .subtitle2 {
        font-size: 26px !important;
        width: 264px !important;
        height: 51px !important;
    }
    .link {
        font-size: 17px !important;
    }
    .title1 {
        padding-top: 23% !important;
    }
    .icon1, .icon2, .icon3 {
        font-size: 30px !important;
    }
}
