#projects {
    height: 100vh;
    position: relative;
}
.projectcontainer {
    max-height: 80vh;
    overflow: auto;
}
.projectimg {
    width: 35%;
    float: left;
    margin-right: 3%
}
.vertical-timeline-element-title {
    font-size: 25px;
    padding-bottom: 2%
}
.aws-btn__content {
    font-size: 18px !important;
    font-weight: 100;
}
.projectbtn {
    margin-left: 2% !important;
}
.vertical-timeline-element-content {
    background-color: #d4c6b1 !important
}
.vertical-timeline::before {
    background: #494949 !important
}
.vertical-timeline-element-icon {
    background: #202020 !important
}
.projectinfo {
    display: block;
    margin-bottom: 2%
}
.projectdesc {
    margin-top: 0 !important;
}
@media only screen and (min-height: 1366px) {
    .projectdesc {
        font-size: 30px !important;
    }
    .vertical-timeline-element-title {
        font-size: 40px;
    }
    .vertical-timeline-element-content .vertical-timeline-element-date {
        font-size: 28px !important;
        padding-right: 3% !important;
    }
    .aws-btn {
        width: 20% !important;
        height: 10% !important;
    }
    .aws-btn__content {
        padding: 7% !important;
        font-size: 30px !important;
    }
}
@media only screen and (min-height: 1024px) {
    .projectdesc {
        font-size: 25px !important;
    }
    .vertical-timeline-element-title {
        font-size: 30px;
    }
    .vertical-timeline-element-content .vertical-timeline-element-date {
        font-size: 23px !important;
        padding-right: 3% !important;
    }
    .aws-btn {
        width: 18% !important;
        height: 8% !important;
    }
    .aws-btn__content {
        padding: 7% !important;
        font-size: 25px !important;
    }
}
@media only screen and (max-width: 480px) {
    .projectdesc {
        font-size: 18px !important;
    }
    .vertical-timeline-element-content .vertical-timeline-element-date {
        font-size: 18px !important;
        padding-right: 3% !important;
    }
}