.subtitle {
    font-family: Athene;
    font-size: 55px;
    color: #202020;
    border-bottom: 2px solid #a38658;
    max-width: 25vw;
    padding-bottom: 1%;
    margin: auto;
    margin-top: 2%;
}
#projects {
    height: 100vh;
    position: relative;
}